.project-section {
    padding: 1rem 1rem;
    margin: 0 auto;
    padding-left: 32px;
    padding-right: 110px;
  }
  .project-container {
    display: flex;
    justify-content: space-between;
    gap: 2rem;
  }
  
  .project-title {
       flex: 1;
      text-align:right;
    font-size: small;
    font-weight: 200;
    color: white;
    margin-left: 6rem;
  } 


  .project-header {
    display: flex;
    align-items: center;
    gap: 200px;
    font-size:large /* spacing between h3 and span */
  }

  .projects-grid-name{
    font-size:small;
    display: flex;
  align-items: center;
  gap: 1rem; 
    color:white;
    display: block;
  background-color: #1f1f1f;
  padding: 1.5rem;
  border-radius: 20px;
  border: 0px solid #070707;
  text-decoration: none;
  transition: all 0.3s ease;

  }
  
  .projects-grid{
    flex: 3;
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
    text-decoration: none;
    max-width: 700px;
    
  }

  .projects-grid:hover{
    background-color: rgba(41, 44, 46, 0.1); 
    box-shadow: 0 0 4px rgba(36, 43, 45, 0.5);  
  }

  .pill-content{
    background-color: #7c3aed;
    padding: 4px 10px;
    border-radius: 20px;
    font-size: 0.9rem;
    color:white;
    text-decoration: none;
  }

