.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px 50px;
    top: 0;
    z-index: 1000;
  }
  .navbar-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 30px;
    flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start; 
  }

  .navbar-text-block {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  
  .navbar-name {
    font-size: 25px;
    font-weight:bold;
    color: white;
    margin-bottom: 10px;
    font-family: Arial, Helvetica, sans-serif;
  }
  .navbar-roles {
    display: flex;
    margin-bottom: 10px;
  }
  
  .navbar-role {
    background-color: transparent;
    border: 1px solid #1E72C1;
    color: #1E72C1;
    padding: 6px 16px;
    font-size: 12px;
    font-weight: bold;
    cursor: pointer;
    margin: 0 10px; /* space between buttons */
    border-radius: 8px; /* makes it pill-shaped */
    transition: background-color 0.3s ease, color 0.3s ease;
    margin-left: 0%;
  }
  
  .navbar-role:hover {
    background-color: rgba(100, 164, 191, 0.1); 
    box-shadow: 0 0 5px rgba(128, 200, 231, 0.5);  
  }
  
  .navbar-socials {
    display: flex;
    flex-direction: row;
    gap: 25px;
    margin-top: 1px;    
  }
  
  .navbar-socials a {
    display: flex;
    align-items: center;
    gap: 6px;
    color: white;
    text-decoration: none;
    font-size: 13px;
    font-weight: bold;
    font-family:Arial, Helvetica, sans-serif;
    transition: transform 0.2s ease;
  }

  .navbar-socials a img {
    width: 20px;
    height: 18px;
    transition: transform 0.2s ease;
    filter: invert(100%);
  }
  
  .navbar-socials a img:hover {
    transform: scale(1.1);
    
  }

  .navbar-profile {
    margin-bottom: 10px;
  }
  
  .profile-img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 1.2px solid white;
    object-fit: cover;
  }
  